<%- include('header')-%>

<h1>This is about page</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia dolor earum sapiente voluptatibus. Natus dolore harum magni exercitationem perferendis. Voluptatum libero eligendi blanditiis et, nisi accusantium culpa non hic voluptates dolores. Officiis numquam ex sit explicabo quasi rem praesentium, amet vel veniam officia aut dolores necessitatibus, vero corrupti sequi, tempora laboriosam? Harum libero esse magnam labore aliquam architecto officiis, temporibus neque ipsa saepe ut eum cumque error quos perferendis quae, veniam illum, quam optio. Odit ipsa distinctio mollitia deserunt nemo. Facere hic possimus qui officiis sint eius velit, ratione adipisci, illo mollitia eveniet. Non, nesciunt deserunt alias quisquam vero explicabo!</p>

<%- include('footer')-%>
